@page "/"
@inject NavigationManager Navegador;

<PageTitle>Index</PageTitle>

<h1 style="text-align: center">Trabajo integrador N° 2</h1>
<h2 style="text-align: center">Seminario de Lenguajes .NET 2022</h2>

<p>En el menu lateral se encuentran los listados, y las paginas para dar de alta cursos, estudiantes e inscripciones.</p>
<p></p>
<p>Aplicacion creada por Dehan Lucas y Duarte Victor.</p>
