@page "/listadocursos"
@inject ListarCursosUseCase ListarCursosUseCase
@inject IJSRuntime JsRuntime;
@inject BajaCursoUseCase BajaCursoUseCase
@inject NavigationManager Navegador
<PageTitle>Listado de Cursos</PageTitle>

<div><i class="fa fa-align-center" aria-hidden="true"><h3>Cursos</h3></i></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>TITULO</th>
            <th>DESCRIPCION</th>
            <th>FECHA DE INICIO</th>
            <th>FECHA DE FINALIZACION</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var curso in _lista)
        {
            <tr>
                <td>@curso.Titulo</td>
                <td>@curso.Descripcion</td>
                <td>@curso.FechaDeInicio</td>
                <td>@curso.FechaDeFinalizacion</td>
                @* Botones *@ 
                <td> 
                    <button class="btn btn-primary" @onclick="()=> ModificarCurso(curso.Titulo)">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger" @onclick="()=> BajaCurso(curso.Titulo)">
                        <i class="oi oi-trash"></i>
                    </button>
                    <button class="btn btn-info" @onclick="()=> MostrarInscriptos(curso.Titulo)">
                        <i class="oi oi-menu"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary" href="javascript:void(0);" onclick="history.go(-1);">Volver</button>
@code {
    List<Curso> _lista = new List<Curso>();
    protected override void OnInitialized()
    {
        _lista = ListarCursosUseCase.Ejecutar();
    }
    async Task BajaCurso(string titulo)
    {
        bool confirmado = await JsRuntime.InvokeAsync<bool>("confirm", $"Desea eliminar al curso {titulo}?");
        if (confirmado)
        {
            BajaCursoUseCase.Ejecutar(titulo);
            _lista = ListarCursosUseCase.Ejecutar(); 
        }
    }
    void ModificarCurso(string titulo)
    {
        Navegador.NavigateTo($"curso/{titulo}");
    }
    void MostrarInscriptos(string titulo)
    {
        Navegador.NavigateTo($"estudiantesinscriptos/{titulo}");
    }
} 